BASE_URL=""
API_KEY=""
MODEL=""
COHERE_API_KEY=""
QDRANT_API_KEY=""
QDRANT_URL=""
LANGSMITH_TRACING="false"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""